body{padding:0;margin:0;}
.back{
background-color:#111;
padding:5px 10px;
color:#fff;
position:absolute;
top:23px;
left: 100px;
font-family:'Open Sans',Helvetica,Arial,sans-serif;
}
h1{
margin:50px auto 15px;
font-weight:700;font-family:'Open Sans',Helvetica,Arial,sans-serif;
}
h2{
float:left;text-align:left;width:100%;font-weight:400;margin:10px;font-family:'Open Sans',Helvetica,Arial,sans-serif;font-size:16px;
}
p{margin-bottom:30px;font-family:'Open Sans',Helvetica,Arial,sans-serif;font-size:36px}
#page_content{transition:all .4s ease-in-out;margin:0;padding:20px;text-align:center;}
form {
    width:50%;
    padding:20px 0 0!important;
	display:inline-block!important;
	text-align:center;
}
.example{
	font-weight:normal;
}
.ex-text{
color:#ccc;
}
#videoID{
width:300px;
margin:0 auto;
}
.get {
    padding:0 20px;
}
#container {
    display:none;
}
#thumbnail_container {
    padding:20px;
}

#thumbnail_container img {
    max-width:100%;
    height:auto;
}

.caption {
    padding:10px;
    background:#f5f5f5;
    color:#999;
    font-size:0.9em;
    margin-bottom:30px;
    border-radius:0 0 4px 4px;
}
.caption strong {
    color:#ddd;
}
.caption p {
    margin-bottom:0;
	font-size:16px;
}
.image-wrapper {
    text-align:center;
    border:1px solid #f5f5f5;
    padding:10px;
    border-radius:4px 4px 0 0;
}
html   {
position: relative;
min-height: 100%
}
.footer {
position: absolute;
bottom: 30px;
left:0;
right:0;
}
